body {
    background-color: #1b1b22;
    color: #FFFFFF;
}

p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

input {
  margin-bottom: 0.8em;
}

#error-message {
  color: #FF0000;
}

.forms {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.doom {
  width: 80vw;
  height: 50vw;
  border: none;
}

.minecraft {
  width: 80vw;
  height: 50vw;
  border: none;
}

.rick {
  width: 50vw;
  height: 30vw;
  margin: 0.1em;
}

.slope {
  width: 80vw;
  height: 50vw;
}

.removed {
  display: none;
}